js/phaser*
public/sound/spying_1.mp3

.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log
build/
out/
scripts/tsgen/test/bin/
scripts/tsgen/test/output.txt

plugins/spine*/spine-runtimes/
